@import '../atoms/variables';

.fixture-wrapper {
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: $color-lynch;
  box-shadow: $shadow-card;
  display: flex;
  flex-direction: row;
}

.fixture-header {
  padding: 0.8rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
}

.fixture-header-title {
  display: flex;
  align-items: center;
  font-size: 26px;
  color: $color-darkgrey;
  justify-content: center;
}

.fixture-team-icon {
  margin-left: 15px;
  margin-right: 15px;
}
