@import '../atoms/variables';

.homepage {
  //min-height: 100vh;
  @media screen and (max-width: $screen-md) {
    padding-left: 0;
    padding-right: 0;
  }
}

.login-input {
  margin-bottom: 20px;
}

.login-disclaimer {
  font-size: 12px;
  margin-bottom: 20px;
}

.login-error {
  color: $color-light-red;
  text-align: center;
}

.login-buttons {
  display: flex;
  flex-direction: row;

  button {
    margin-right: 10px;
  }

  @media screen and (max-width: $screen-lg) {
    flex-direction: column;

    button {
      margin-top: 10px;
      margin-right: 0;
    }
  }
}
