@import '../atoms/variables';

.language-chooser {
  color: $color-ash;
  cursor: pointer;

  a {
    color: $color-ash;
    font-size: 16px;
    font-weight: bold;
  }

  a:hover {
    color: $color-light-red;
  }
}
