@import '../atoms/variables';

.optimize-container {
  @media screen and (max-width: $screen-md) {
    padding-left: 0;
    padding-right: 0;
  }
}

.optimize-options {
  .button {
    margin-top: 15px;
  }
}

.optimize-option-wrapper {
  padding: 1.5rem;
  width: 100%;
  margin-bottom: 1rem;
  background-color: $color-lynch;
  box-shadow: $shadow-card;
  display: flex;
  flex-direction: row;
  color: $color-white;

  @media screen and (max-width: $screen-xl) {
    padding-bottom: 2.3rem;
  }

  input {
    width: auto;
    margin-right: 20px;
  }

  label {
    margin-bottom: 0;
  }
}

.optimize-slider {
  width: 400px;
  cursor: pointer;

  @media screen and (max-width: $screen-md) {
    width: 200px;
  }
}

.optimize-disclaimer {
  font-size: 14px;
  margin-bottom: 10px;
  padding: 20px;
}
