@import '../atoms/variables';

.statistics-container {
  @media screen and (max-width: $screen-md) {
    padding-left: 0;
    padding-right: 0;
  }
}

.all-stats {
  .table {
    width: 100%;
  }

  .all-stats-name {
    width: 20%;
  }

  .all-stats-team {
    width: 20%;
  }

  .all-stats-bps,
  .all-stats-selected,
  .all-stats-points {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.all-stats-selectbox-wrapper {
  form {
    display: flex;
    flex-direction: row;

    @media (max-width: $screen-md) {
      flex-direction: column;
    }
  }
}

.unavailable-selectbox-wrapper {
  width: 50%;

  form {
    display: flex;
    flex-direction: row;

    @media (max-width: $screen-md) {
      flex-direction: column;
    }
  }
}

.unavailable {
  .table {
    width: 100%;
  }

  .unavailable-name {
    width: 20%;
  }

  .unavailable-team {
    width: 20%;
  }

  .unavailable-news {
    width: 40%;
    display: flex;
  }

  .unavailable-cards {
    width: 20%;
    text-align: right;
  }
}

.unavailable-top {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: $screen-md) {
    flex-direction: column;
  }
}

.unavailable-checkboxes {
  display: flex;
  align-items: flex-end;
}
