@import "../atoms/variables";

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: $font-base;
  font-size: 1rem;
  line-height: 150%;
  font-weight: 300;
  color: $color-egg;
  background: $color-egg url(../../assets/images/background.png) left top;
  margin-top: 70px;
}

a {
  text-decoration: none;

  &:active,
  &:visited,
  &:hover {
    text-decoration: none;
  }
}

.app-body {
  margin-top: 100px;
  min-height: 100vh;
}

.error-message {
  color: $color-red;
  font-size: 15px;
  border: 4px solid $color-red;
  padding: 20px;
  font-weight: bold;
}

.error-text {
  color: $color-red;
  font-size: 15px;
  padding: 20px 20px 20px 0;
  font-weight: bold;
  display: block;
}
