@import "../atoms/variables";

.button {
  display: inline-block;
  font-size: 12px;
  white-space: nowrap;
  letter-spacing: 1px;
  border-radius: 13px;
  background-color: transparent;
  border: none;
  text-align: center;
  padding: 8px 24px;
  text-transform: uppercase;
  transition: all 150ms;

  &:hover {
    border-color: $color-brown;
    color: white;
  }

  &-light--primary {
    background-color: $color-brown;
    border: none;

    &:hover {
      color: $color-black;
      background-color: $color-opal;
    }
  }

  &-light--secondary {
    background-color: white;
    border: none;
    color: $color-black;

    &:hover {
      background-color: $color-light-red;
      color: $color-black;
    }
  }

  &-dark--primary {
    background-color: $color-brown;
    border: none;

    &:hover {
      color: $color-black;
      background-color: $color-egg;
    }
  }

  &-dark--secondary {
    background-color: white;
    border: none;
    color: $color-black;

    &:hover {
      background-color: $color-light-red;
      color: $color-black;
    }
  }
}
