@import "../atoms/variables";

input {
  height: 50px;
  padding: 0 20px;
  font-size: 16px;
  line-height: 50px;
  color: $black;
  background-image: none;
  border-radius: 2px;
  box-shadow: none;
  text-align: left;
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  border: 0;
  border-bottom: 1px solid #cecece;

  &:focus {
    box-shadow: none;
    outline: none;
    background-color: white;
  }
}
