@import "../atoms/variables";

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: bold;
  font-family: $font-heading;
  line-height: 1.2;
  color: $color-ash;
}

h1,
.h1 {
  font-size: 4rem;
  line-height: 1.1;
}

h2,
.h2 {
  font-size: 3rem;
  line-height: 1.1;
}

h3,
.h3 {
  font-size: 2.5rem;
  line-height: 1.2;
}

h4,
.h4 {
  font-size: 2rem;
  line-height: 1.2;
}

h5,
.h5 {
  font-size: 1.5rem;
  line-height: 1.2;
}

.subtitle {
  font-size: 18px;
  color: $color-darkgrey;
  margin-top: 15px;
}

.hint {
  font-size: 12px;
  margin-bottom: 10px;
  color: $color-darkgrey;
}

.invisible {
  display: none;
}
